.layout {
  display: flex;
  height: 100vh;
  background: #f4f6fb;
  font-family: Arial, sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu a {
  text-decoration: none;
  color: #cbd5e1;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.menu a:hover {
  background: #374151;
  color: white;
}

.menu a.active {
  background: #3b82f6;
  color: white;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR */
.topbar {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e5e7eb;
}

/* CONTENT */
.content {
  padding: 20px;
  overflow: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* parent */
.menu-parent {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  background: #374151;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.menu-parent:hover {
  background: #4b5563;
}

/* submenu */
.submenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 10px;
  margin-top: 8px;
}

.submenu a {
  text-decoration: none;
  color: #cbd5e1;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.2s;
  font-size: 14px;
}

.submenu a:hover {
  background: #374151;
  color: white;
}

.submenu a.active {
  background: #3b82f6;
  color: white;
}