<div class="dashboard-home">

  <!-- HEADER -->
  <div class="header">
    <h1>Dashboard</h1>
    <p *ngIf="user">Bienvenue, {{ user.name }} </p>
  </div>

  <!-- STATS -->
  <div class="stats">

    <div class="card">
      <div class="container">

      </div>

      <div class="card-header">
        <span>Activités<br></span>
        <span>March 13</span>
      </div>

      <span class="temp">23</span>

    </div>
    <!-- From Uiverse.io  -->
    <div class="card">
      <div class="container">

      </div>

      <div class="card-header">
        <span>Activités<br></span>
        <span>March 13</span>
      </div>

      <span class="temp">23</span>

    </div>


    <div class="card">
      <div class="container">
      </div>
      <div class="card-header">
        <span>Activités<br></span>
        <span>March 13</span>
      </div>
      <span class="temp">23</span>
    </div>
    <div class="card">
      <div class="container">
      </div>
      <div class="card-header">
        <span>Plan generes<br></span>
        <span>March 13</span>
      </div>
      <span class="temp">23</span>
    </div>
  </div>
</div>