<div class="dashboard-home">

  <!-- HEADER -->
  <div class="header">
    <h1>Dashboard</h1>
  </div>
  <div class="loading" *ngIf="loading">
    Chargements des statistiques...
  </div>
  <!-- ERROR -->
  <div *ngIf="error" class="error">
    {{ error }}
  </div>
  <!-- STATS -->
  <div class="stats" *ngIf="!loading && stats">

    <div
      class="card"
      *ngFor="let card of dashboardCards"
      (click)="goTo(card.key)"
    >
      <div class="container"></div>

      <div class="card-header">
        <span>{{ card.title }}</span>
        <span></span>
      </div>

      <span class="temp">
         {{ stats[card.key] || 0 }}
      </span>

    </div>

  </div>
</div>