<h2>Login</h2>


<p style="color:red"></p>

<form class="form">
  <span class="input-span">
    <label for="email" class="label">Email</label>
    <input type="email" name="email" id="email" [(ngModel)]="email"
  /></span>
  <span class="input-span">
    <label for="password" class="label">Password</label>
    <input type="password" name="password" id="password" [(ngModel)]="password"
  /></span>
  <span class="span" style="color:red"><a href="#">{{ error }}</a></span>
  <input class="submit" type="submit" value="Log in" (click)="onLogin()"/>
</form>
