<div class="login-container">

  <div class="login-card">

    <h1 class="title">Admin Login</h1>
    <p class="subtitle">Connecte-toi pour accéder au dashboard</p>

    <form (ngSubmit)="onLogin()">

      <div class="input-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" name="email" placeholder="admin@email.com" required />
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" placeholder="••••••••" required />
      </div>

      <button type="submit" class="btn-primary">
        Se connecter
      </button>

    </form>

  </div>

</div>